<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Eat Me{{else}}Don't Eat Me{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete this Burger!</button>
</li>
